/target
**/build/
**/dist/
**/bundle/
node_modules/
.env
**/hot
storage/
**/build/
**/dist/
**/bundle/
node_modules/
.env
**/hot
storage/
**/build/
**/dist/
**/bundle/
node_modules/
.env
**/hot
storage/
**/build/
**/dist/
**/bundle/
node_modules/
.env
**/hot
storage/
**/build/
**/dist/
**/bundle/
node_modules/
.env
**/hot
storage/
**/build/
**/dist/
**/bundle/
node_modules/
.env
**/hot
storage/
**/build/
**/dist/
**/bundle/
node_modules/
.env
**/hot
storage/
